@{
    ViewData["Title"] = "Perfil";
}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil</title>
        <link rel="stylesheet" href="perfil.css">
    </head>
<header>
    <div class="container">
        <a href="#"><img class="logoInstaDev" src="~/img/Instadev.png" alt="Logo Instadev"></a>
        <form action="">
            <input type="text" placeholder="Pesquisar">
        </form>
        <div class="logos">
            <a href="#" class="logoPagPrincipal"><img src="~/img/PaginaPricipal.png" alt="Ir para página principal" ></a>
            <a href="#" class="logoDirect"><img src="~/img/Direct.png" alt="Ir para o direct" ></a>
            <a href="#" class="logoLocalizacao"><img src="~/img/Localizaçao.png" alt="Ver localizações" ></a>
            <a href="#" class="logoCurtidas"><img src="~/img/Curtidas.png" alt="Ver  quem curtiu suas publicações" ></a>
            <a href="#" class="FotoPerfil"><img src="~/img/FotoPerfil.png" alt="Ir para perfil principal"></a>      
        </div>
    </div>
</header>
<div class="container-bio">        
    <section class="biografia">
        <div class="fotoPerfil">
            <img src="~/img/FotoPerfil.png" alt="Foto de perfil">
        </div>
        <div class="bio2">
            <div class="nomeUsuario">
                <h1>yes_baby</h1>
                <a href="Editar">Editar Perfil</a>
            </div>
            <div class="pubsegui">
                <p class="nmrpub">0 Publicações</p>
                <p class="seguidores">214 Seguidores</p>
                <p class="seguindo">128 Seguindo</p>
            </div>
            <div class="nomeVerdadeiro">
                <h2>Marcos Jeeves</h2>
                <a href="#">Sair</a>
            </div>
        </div>
    </section>
</div>
<div class="linha"></div>
<div class="containerpubs">
    <div class="cubospub">
        <a href="#"><img class="iconepub" src="~/img/IconePub.png" alt="Publicações"></a>
        <a href="#"><p>Publicações</p></a>
    </div>
</div>
<section class="pubs">
    <div class="container">
        <div class="publicacoes">
            <img src="~/img/FotoDeMarcosJeeves.png" alt="Foto de Marcos Jeeves fazendo numero cinco com a mão escrito Yes Baby, Thank You.">
            <div class="comentuser">
                <div class="nomeuser-localidade">
                    <img class="fotoperfilpub" src="~/img/FotoPerfil.png" alt="Foto de perfil de Marcos Jeeves">
                    <div class="titulos-nomeuser">
                        <h2>Marcoes Jeeves</h2>
                        <h3>Rio de Janeiro, Brazil</h3>
                    </div>
                </div>
                <div class="coments">
                    <a href="#"><img src="~/img/Curtidas.png" alt="Curtir"></a>
                    <a href="#"><img src="~/img/IconeComents.png" alt="Comentar"></a>
                </div>
                <p>1954 curtidas</p>
                <p class="comentarios"><span class="user">fausto_silva</span> Esse cara é fera bixo!!!</p>
                <p class="comentarios"><span class="user2">yes_baby</span>thank you</p>
                <p class="comentarios"><span class="user">adriano_stark</span> Quando eu adormecer, vou sonhar com você.</p>
                <p class="comentarios"><span class="user2">yes_baby</span> Yes baby!!</p>
            </div>
        </div>
    </div>
</section>
<section class="pubs">
    <div class="container">
        <div class="publicacoes">
            <img src="~/img/MarcosJeevesSorrindo.webp" alt="Foto de Marcos Jeeves sorrindo">
            <div class="comentuser">
                <div class="nomeuser-localidade">
                    <img class="fotoperfilpub" src="~/img/FotoPerfil.png" alt="Foto de perfil de Marcos Jeeves">
                    <div class="titulos-nomeuser">
                        <h2>Marcoes Jeeves</h2>
                        <h3>Rio de Janeiro, Brazil</h3>
                    </div>
                </div>
                <div class="coments">
                    <a href="#"><img src="~/img/Curtidas.png" alt="Curtir"></a>
                    <a href="#"><img src="~/img/IconeComents.png" alt="Comentar"></a>
                </div>
                <p>1954 curtidas</p>
                <p class="comentarios"><span class="user">fausto_silva</span> Esse cara é fera bixo!!!</p>
                <p class="comentarios"><span class="user2">yes_baby</span>thank you</p>
                <p class="comentarios"><span class="user">adriano_stark</span> Quando eu adormecer, vou sonhar com você.</p>
                <p class="comentarios"><span class="user2">yes_baby</span> Yes baby!!</p>
            </div>
        </div>
    </div>
</section>
<section class="pubs">
    <div class="container">
        <div class="publicacoes">
            <img src="~/img/MarcosJeevesComFerimentos.jpg" alt="Foto de Marcos Jeeves com ferimentos no rosto em um comercial do filme CyberPunk 2077">
            <div class="comentuser">
                <div class="nomeuser-localidade">
                    <img class="fotoperfilpub" src="~/img/FotoPerfil.png" alt="Foto de perfil de Marcos Jeeves">
                    <div class="titulos-nomeuser">
                        <h2>Marcoes Jeeves</h2>
                        <h3>Rio de Janeiro, Brazil</h3>
                    </div>
                </div>
                <div class="coments">
                    <a href="#"><img src="~/img/Curtidas.png" alt="Curtir"></a>
                    <a href="#"><img src="~/img/IconeComents.png" alt="Comentar"></a>
                </div>
                <p>1954 curtidas</p>
                <p class="comentarios"><span class="user">fausto_silva</span> Esse cara é fera bixo!!!</p>
                <p class="comentarios"><span class="user2">yes_baby</span>thank you</p>
                <p class="comentarios"><span class="user">adriano_stark</span> Quando eu adormecer, vou sonhar com você.</p>
                <p class="comentarios"><span class="user2">yes_baby</span> Yes baby!!</p>
            </div>
        </div>
    </div>
</section>
