<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev</title>
    <link rel="stylesheet" href="~/css/login.css" />
    

    @switch (ViewData["Title"])
    {
         case "Login":
            <link rel="stylesheet" href="~/css/login.css" />
            break;
            
        case "Usuarios":
            <link rel="stylesheet" href="~/css/cadastro.css" />       
            break;
            
        case "usuarioSecudario":
              <link rel="stylesheet" href="~/css/outroUsuario.css" />
              break;

        case "Perfil":
            <link rel="stylesheet" href="~/css/perfil.css">
            break;

        case "Editar":
            <link rel="stylesheet" href="~/css/editarperfil.css">
            break;
        case "Feed":
            <link rel="stylesheet" href="~/css/feed.css">
            break;

        default:
            <link rel="stylesheet" href="~/css/login.css" />            
            break;
       } 
       
       
           
    
    
</head>


    

<body>   
    
        @RenderBody()    
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
