
<!DOCTYPE html>
<html lang="pt-br">


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev</title>
    

    @switch (ViewData["Title"])
    {
         case "Login":
            <link rel="styleheet" href="~/css/login.css" />
            break;
        case "Usuarios":
            <link rel="styleheet" href="~/css/cadastro.css" /> 
      
            break;

            case "Editar":
            <link rel="stylesheet" href="~/editar.css"/>
            break;
            default:
            break;
       
       
           
    }
    
</head>
<body>


    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
