body
{
  margin: 0;
  padding: 0;
  height: 900px;
}

.login
{
  width: 342px;
  height: 420px;
  border: 1px solid rgba(0, 0, 0, 0.466);
  border-radius: 1px 1px 1px 1px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 68px 68px;
  box-shadow: 0px 0px 3px 0px;
}

img
{
  margin-bottom: 28px;
  width: 200px;
}

input
{
  width: 250px;
  height: 32px;
  transform: translate(-10%, -10%);
  box-sizing: border-box;
  margin-top: 8px;
}

a input
{
  margin-top: 16px;
  color: white;
  background: rgba(38,134,204,1);
  border-radius: 2px 2px 2px 2px;
  box-sizing: border-box;
  border: 1px solid rgba(38,134,204,1);
  font-family: 'Segoe UI';
  font-size: 12px;
}

#line
{
  border: 1px solid rgba(203, 203, 203, 1);
  width: 94px;
  height: 0px;
  margin-left: 123px;
  margin-top: 36px;
}
#line1
{
  border: 1px solid rgba(203, 203, 203, 1);
  width: 94px;
  height: 0px;
  margin-left: -20px;
  margin-top: -23px;
}

p
{
  margin-left: 90px;
  margin-top: -20px;
  display: flex;
  color: #909090;
}

.e
{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: rgba(38,134,204,1);
  text-decoration: none;
}

.cadastro
{
  transform: translate(-32%, 400%);
  width: 330px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.cadastro #p
{
  color: rgba(0, 0, 0, 0.747);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold
}

.cadastro #a
{
  text-decoration: none;
  color: rgba(38,134,204,1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold
}

.obtenha
{
  width: 320px;
  transform: translate(-18%, 190%);
}

.obtenha .app img
{
  width: 133px;
  padding-left: 12px;
}