@import url('http://fonts.cdnfonts.com/css/billabong');

body
{
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.form{
  width: 1200px;
  height: 900px;
}

.login
{
  background: #ffffff;
  width: 342px;
  height: 420px;
  border: 1px solid rgba(0, 0, 0, 0.466);
  border-radius: 1px 1px 1px 1px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 68px 68px;
  box-shadow: 0px 0px 3px 0px;
}

.login .instadev h1
{
  color: black;
  display: flex;
  margin: 0 auto;
  margin-bottom: 0;
  font-size: 4.5em;
  font-weight: normal;
  font-family: 'billabong';
  margin-bottom: 2px;
  width: 200px;
}

input
{
  width: 250px;
  height: 32px;
  transform: translate(-10%, -10%);
  box-sizing: border-box;
  margin-top: 8px;
  padding-left: 7px;
}

a input
{
  margin-top: 16px;
  color: white;
  background: rgba(38,134,204,1);
  border-radius: 2px 2px 2px 2px;
  box-sizing: border-box;
  border: 1px solid rgba(38,134,204,1);
  font-family: 'Segoe UI';
  font-size: 12px;
}

#line
{
  border: 1px solid rgba(203, 203, 203, 1);
  width: 94px;
  height: 0px;
  margin-left: 123px;
  margin-top: 36px;
}
#line1
{
  border: 1px solid rgba(203, 203, 203, 1);
  width: 94px;
  height: 0px;
  margin-left: -20px;
  margin-top: -23px;
}

p
{
  margin-left: 90px;
  margin-top: -20px;
  display: flex;
  color: #909090;
}

.e
{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: rgba(38,134,204,1);
  text-decoration: none;
}

.cadastro
{
  transform: translate(-20%, 400%);
  width: 342px;
  display: flex;
  align-items: baseline;
}

.cadastro .conta
{
  color: rgba(0, 0, 0, 0.747);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold
}

.cadastro #a
{
  text-decoration: none;
  color: rgba(38,134,204,1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold
}

.obtenha
{
  width: 342px;
  transform: translate(-20%, 190%);
  margin-top: 30px;
}

.aplicativo 
{
  width: 342px;
}
.aplicativo p
{
  display: flex;
  justify-content: center;
  width: 342px;
  margin-left: 0;
  color: black;
}

.obtenha .app
{
  display: flex;
  justify-content: center;
}

.obtenha .app img
{
  width: 132px;
  padding-left: 5px;
}