@model Publicacao
@{
    ViewData["Title"] = "Stories";
}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slide Stories</title>
  <link rel="stylesheet" href="~/css/stories.css">
</head>

<body>

  <div data-slide="slide" class="slide">
    <div class="slide-items">
      <img src="./imagens stories//WiibaianoStories.png" alt="Img 1">
      <img src="./imagens stories//0bff70359d3265a7f873a4a2fb6bb374.jpg" alt="Img 2">
      <img src="./imagens stories//Vin Disel Storie.png" alt="Img 2">
      <img src="./imagens stories//vindisel stories 2.png" alt="Img 2">
      <img src="./imagens stories//StoriesPele.png" alt="Img 2">
      <img src="./imagens stories//Pelestories2.png" alt="Img 2">
      <img src="./imagens stories//chavesstories1.png" alt="Img 2">
      <img src="./imagens stories//chavesstories2.png" alt="Img 2">
      <img src="./imagens stories//Gabigordostories1.png" alt="Img 2">
      <img src="./imagens stories//Gabigordostories2.png" alt="Img 2">
      <img src="./imagens stories//adrianostories1.png" alt="Img 2">
      <img src="./imagens stories//adrianostories2.png" alt="Img 2">
      <img src="./imagens stories//SamuelRosaStories1.png" alt="Img 2">
      <img src="./imagens stories//SamuelRosaStories2.png" alt="Img 2">
    

    </div>
    <nav class="slide-nav">
      <div class="slide-thumb"></div>
      <button class="slide-prev">Anterior</button>
      <button class="slide-next">Próximo</button>
    </nav>
  </div>
  <script src="~/js/slide-stories.js"></script>
</body>

</html>