@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>

    <body>
        <main>
            <section class="formLogin">
                <div class="login">

                    <div class="instadev">
                        <img src="~/img/InstaDev.svg" alt="logo InstaDev">
                    </div>

                    <form>
                        <div class="email">
                            <input class="inputLog" type="email" name="" placeholder="Email">
                        </div>

                        <div class="senha">
                            <input class="inputLog2" type="password" name="" placeholder="Senha">
                        </div>
                    
                       <button class="log" type="submit" asp-area="" asp-controller="Publi" asp-action="Index">Entrar</button>
                    
                    
                    <div>
                        <hr id="line">
                        <p class="linhaOu"> <span style="font-weight: bold;">ou</span></p>
                        <hr id="line1">
                    </div>
                    
                        <a href="#" class="e">Esqueceu a senha?</a>
                    </form>

                    <div class="cadastrologin">
                        <p class="conta">Não tem uma conta?</p>
                        <a class="btn gradient" asp-area="" asp-controller="Usuario" asp-action="Index">Cadastrar Usuario</a>                    
                    </div>

                    <div class="obtenha">
                        <div class="aplicativo">
                            <p class="obterApp">Obtenha o aplicativo</p>
                        </div>

                        <div>
                            <div class="app">
                                <a href="https://apps.apple.com/br/app/instagram/id389801252"><img src="~/img/app_store 1.svg" alt="Obter o aplicativo pela App Store"></a>
                                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=pt_BR&gl=US"><img src="~/img/google_play 1.svg" alt="Obter o aplicativo pela Google Play"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>