@{
    ViewData["Title"] = "Editar";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instaDev</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
    <div class="container">
        <a asp-area="" asp-controller="Publi" asp-action="Index"><img class="logoInstaDev" src="~/img/Instadev.png" alt="Logo Instadev"></a>
        <form action="">
            <input type="text" placeholder="Pesquisar">
        </form>
        <div class="logos">
            <a asp-area="" asp-controller="Publi" asp-action="Index" class="logoPagPrincipal"><img src="~/img/PaginaPricipal.png" alt="Ir para página principal" ></a>
            <a href="#" class="logoDirect"><img src="~/img/Direct.png" alt="Ir para o direct" ></a>
            <a href="#" class="logoLocalizacao"><img src="~/img/Localizaçao.png" alt="Ver localizações" ></a>
            <a href="#" class="logoCurtidas"><img src="~/img/Curtidas.png" alt="Ver  quem curtiu suas publicações" ></a>
            <a asp-area="" asp-controller="Perfil" asp-action="Index" class="FotoPerfil"><img src="~/img/FotoPerfil.png" alt="Ir para perfil principal"></a>      
        </div>
    </div>
</header>
<main class="container">
    <section class="content">
        <div class="barra-divisao"></div>
        <div class="esquerdo">
            <div class="barra-esquerda"></div>
            <div class="editar-perfil">Editar Perfil</div>
        </div>
        <form method="POST" action='@Url.Action("editar")' enctype="multpart/form-data">
            <div class="direito">
                <div class="foto-perfil">
                    <img src="img/thank-you 2.png" alt="Foto de perfil" class="img">
                    <div class="username">yes_baby</div>
                    <input type="file" name="Foto" id="Foto" class="file">
                </div>
                <div class="nome">
                    <h1>Nome</h1>
                    <input type="text">
                    <p>Ajude as pessoas a descobrir sua conta usando o nome pelo qual você é conhecido: seu nome
                        completo, apelido ou nome comercial. <br>
                        <br>
                        Você pode alterar o seu nome apenas duas vezes a cada 14 dias.
                    </p>
                </div>
                <div class="nome-usuario">
                    <h2>Nome de Usuário</h2>
                    <input type="text">
                    <p>Na maioria dos casos, você poderá alterar seu nome de usuário novamente para nascimento_tr por
                        mais 14 dias.<br>
                        <br>
                        Informações pessoais <br> Forneça suas informações pessoais, mesmo se a conta for usada para uma
                        empresa, um animal de estimação ou outra coisa. Elas não farão parte do seu perfil público.
                    </p>
                </div>

                <div class="email">
                    <h3>Email</h3>
                    <input type="email">
                </div>
                <div class="inferior">
                    <input type="submit">Enviar</input>
                    <a href="#">Desativar minha conta definitivamente</a>
                </div>
        </form>
        </div>
    </section>
</main>